<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <span class="navbar-brand">Kairos UI</span>
  <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show':showNavbar}">
    <ul class="navbar-nav mr-auto">

    </ul>
    <div class="form-inline">
      <button class="btn btn-outline-primary" type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<br>
